<div class="container" style="max-width: 550px">
    <h2 class="text-center mb-5">Angular Login</h2>
    <div>
      <div>
        <form action="" (submit)="loginWithoutGoogle(loginI.value, passwordI.value, $event)"  class="form-group">
          <label class="form-control" for="userLogin">Login: <input #loginI class="form-control" type="text" name="userLogin" id="userLogin"></label>
          <label class="form-control" for="userPassword">Password: <input  #passwordI class="form-control" type="password" name="userPassword" id="userPassword"></label>
          <div class="d-flex">
            <input type="submit" value="Zaloguj" class="form-control">
            <button [ngStyle]="{'width':'-webkit-fill-available'}" type="button" #googleButton (click)="loginWithGoogle()" class="btn btn-danger">Login with Google</button>
            <div class="" id="google-button"></div>
          </div>
          
        </form>
      </div>
      
    </div>
    <div *ngIf="isLoggedin === true">
      <div class="form-group">
        <label>First Name</label>
        <input type="text" class="form-control" [value]="socialUser.firstName" id="firstname" readonly>
      </div>
      <div class="form-group">
        <label>Last Name</label>
        <input type="text" class="form-control" [value]="socialUser.lastName" id="lastname" readonly>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" [value]="socialUser.email" id="email" readonly>
      </div>
      <button type="button" (click)="logOut()" class="btn btn-primary">Log Out</button>
    </div>
  </div>