<div class="container mt-3" style="max-width: 550px">
  <h2 class="text-center mb-5" (click)="loginI.value=addUserToForm(1).login; passwordI.value=addUserToForm(1).password">Angular Login</h2>
  <div>
    <div>
      <form action="" (submit)="loginWithoutGoogle(loginI.value, passwordI.value, $event)"  class="form-group">
        <label class="form-control" for="userLogin">Login: <input #loginI class="form-control" type="text" name="userLogin" id="userLogin"></label>
        <label class="form-control" for="userPassword">Password: <input  #passwordI class="form-control" type="password" name="userPassword" id="userPassword"></label>
        <div class="d-flex">
          <input type="submit" value="Zaloguj" class="form-control">
          <button [ngStyle]="{'width':'-webkit-fill-available'}" type="button" #googleButton (click)="loginWithGoogle()" class="btn btn-danger">Login with Google</button>
          <div class="" id="google-button"></div>
        </div>
        
      </form>
    </div>
    
    <div *ngIf="isInvalidForm"><h2 class="my-2"><span class="text-danger ">Error:</span> Wrong Login or Password</h2></div>


  </div>
  
</div>